@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Benn";
  font-style: normal;
  font-display: optional;
  src: url(/fonts/ben-free-webfont.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.page-header {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-position: 60% 50%;
  background-size: cover;
  overflow: hidden;
  z-index: -10;
  background-image: url("/images/Evie_bg.jpg");
}

.page-header:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("/images/paper_1.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
